html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 1rem;
  color: #303137;
  margin: 0px;
  padding: 0px;
  

  scroll-behavior: smooth;
  scroll-padding-top: 72px;   /* Currently hard coded for web only */
}


#container {
  /*max-width: 990px;*/
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Centers the container horizontally */
}

/*@media (max-width: 768px) {  */
/*  #container{                */
/*    max-width: 90%;          */
/*  }                          */
/*                             */
/*}                            */




header {
  background-color: beige;
  display: flex;
  position: sticky;
  top: 0;
}

/* Remove default link styling */
header a {
  text-decoration: none;
}

/* Float navigation right */
header nav {  
  margin-left: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: black;
}

ul li {
  padding: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon div{
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-animation: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.open .mobile-menu {
  display: flex;
}


.mobile-menu {
  display: none;
  position: fixed;  /* fixed to viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;     /* full height */
  background-color: #fff; /* or any color you want */
 
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center items vertically */
  z-index: 9999;
}

#hamburger-icon{
  display: none;
  z-index: 10000;
  
  
}

/* Display hamburger menu instead of regular
  when on mobile */
@media (max-width: 768px){
  header nav{
    display: none;
  }

  #hamburger-icon{
    display: block ;
    margin-left: auto;
    padding-right: 20px;
    
  }

}





/*                      */
/* Home section styling */
/*                      */

#welcome {
  background-color: rgb(28, 27, 21);
  display: flex;
  flex-wrap: wrap;      /* Allows wrapping to new line when space is tight */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */
  gap: 75px;
  padding: 75px;    /* space inside the section edges */
}

#welcome div {
  max-width: 500px;
}

#welcome-title{
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 216, 225);
  font-kerning: none;
  text-decoration: none;
  line-height: 57px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-wrap: wrap;
  overflow-wrap: normal;
  text-align: center;
}

#welcome-paragraph{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 216, 225);
  font-kerning: none;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 0em;
  text-wrap: wrap;
  overflow-wrap: normal;
  overflow-wrap: break-word;
}

#church-photo{
  width: 414px;
  max-width: 100%;
  height: 414px;
  border: 2px solid lightblue;
  border-radius: 40px; /* Curved corners */
}


/* Styling for service times section */
#service-times{
  background-color: rgb(73, 149, 127);
  display: flex;
  flex-wrap: wrap;          /* Allows wrapping to new line when space is tight */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */
  gap: 0px 75px;
  
}

/* Styling for service times text */
.service-title{
  font-size: 40.4px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.325) 0px 1.51499px 6.4387px;
  line-height: 56px;
}





/*                           */
/* What's on section styling */
/*                           */

/* Styling for entire 'What's On' section  */
.whats-on-section{
  justify-content: center;  /* Centers items horizontally */

}

/* Styling for individual activity section */
.activitya{
  background-color: rgb(187, 175, 153);
  padding-top: 25px;
  padding-bottom: 25px;
}

.activityb{
  background-color: rgb(209, 200, 182);
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Styling for <h1> title of activity day */
.activity-day{
  margin: 0px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* Styling for <h2> title of activity title */
.activity-name{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Styling for activity's content - txt & img */
.activity-content{
  display:flex;
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */
  flex-wrap: wrap;      /* Allows wrapping to new line when space is tight */
  gap: 40px;
}

/* Styling for text only in activity's content */
.activity-content p{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 0em;
  text-wrap: wrap;
  overflow-wrap: normal;
  overflow-wrap: break-word;

  max-width: 400px;
}

#whats-on-title-section{
  background-color: rgb(73, 149, 127);
}

.whats-on-title{
  font-size: 40.4px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.325) 0px 1.51499px 6.4387px;
  line-height: 56px;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 5px solid white;
  border-bottom: 5px solid white;
}





/*                                 */
/* Sunday Services section styling */
/*                                 */

#services-section{
  justify-content: center;  /* Centers items horizontally */
  background-color: rgb(187, 175, 153);
  padding-top: 25px;
  padding-bottom: 25px;
}





