html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 1rem;
  color: #303137;
  margin: 0;
}


/*                   */
/* Re-usable styling */
/*                   */

.page{
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: dashed;
  border-width: 4px;
  border-color: black;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;      /* Allows wrapping to new line when space is tight */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */

  column-gap: 75px;
  row-gap: 25px;
}

p{
  font-size: 1.5rem;
  font-style: normal;
  line-height: 33px;
  color: black;
}





/*                      */
/* Home section styling */
/*                      */

#home-section-container{
  background-color: beige;
}

#home-section-container h1, h2{
  text-align: center;
  color: black;
}

#home-section-container p{
  max-width: 600px;            /* Prevent text from being too wide */
}

#home-section-container img{
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.section-title{
  color: black;
  

  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0px;
}




 
/*                          */
/* Services section styling */
/*                          */
  




/*                           */
/* What's on section styling */
/*                           */

#whats-on-section-container {
  background-color: #e9fae3;
}

#activity{
  display: flex;
  flex-wrap: wrap; /* allows wrapping when not enough space */
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  border-bottom: 1px solid black;   
  padding-bottom: 25px;  
  padding-top: 25px;
}

@media (max-width: 768px) {
  #activity{
    text-align: center;
  }
}


/* Activity img */
#whats-on-section-container img{
  max-width: 304px;
  height: auto;
  border-radius: 8px;
}

/* Activity content container */
#whats-on-section-container div{
  min-width: 250px;
  flex: 1;
}

/* Activity title */
#whats-on-section-container h3{
  font-style: normal;
  font-size: 1.714em;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1px;
  max-height: 2.4em;
  overflow: hidden;
}

/* Activity date */
#whats-on-section-container h4{
  font-size: 1.14em;
  font-style: normal;
  margin: 0;
  padding: 0;
}

/* Activity description */
#whats-on-section-container p{
  white-space: normal;   /* allow wrapping */
  overflow-wrap: break-word; /* break long words/URLs */
  word-break: break-word;    /* older support */
}

#weekly-events-final-text{
  text-align: center;
  
  padding-top: 25px;
  padding-bottom: 20px;

  font-size: 20px;
}

