html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  font-size: 1rem;
  color: #303137;
  margin: 0px;
  padding: 0px;
  

  scroll-behavior: smooth;
  scroll-padding-top: 72px;   /* Currently hard coded for web only */
}


#container {
  /*max-width: 990px;*/
  /* Adjust the width as needed */
  margin: 0 auto;
  /* Centers the container horizontally */
}

/*@media (max-width: 768px) {  */
/*  #container{                */
/*    max-width: 90%;          */
/*  }                          */
/*                             */
/*}                            */




header {
  background-color: beige;
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
}

/* Remove default link styling */
header a {
  text-decoration: none;
}

/* Float navigation right */
header nav {  
  margin-left: auto;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: black;
}

ul li {
  padding: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


/* When menu is open, prevent scrolling */
body.menu-open {
  overflow: hidden;
}

#hamburger-icon div{
  
  width: 35px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-animation: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}


.open .mobile-menu {
  display: flex;
}


.mobile-menu {
  display: none;
  position: fixed;  /* fixed to viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;     /* full height */
  background-color: #fff; /* or any color you want */
 
  flex-direction: column;
  align-items: center;
  justify-content: center; /* center items vertically */
  z-index: 9999;
}

#hamburger-icon{
  display: none;
  z-index: 10000;
  
  
}

/* Display hamburger menu instead of regular
  when on mobile */
@media (max-width: 768px){
  header nav{
    display: none;
  }

  #hamburger-icon{
    display: block ;
    margin-left: auto;
    padding-right: 20px;
    
  }

}





/*                      */
/* Home section styling */
/*                      */

#service-times-section{
  background-color: #364c1e;
  display: flex;
  flex-wrap: wrap;          /* Allows wrapping to new line when space is tight */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */

  column-gap: 75px;
  row-gap: 0px;

  border-top: 5px solid white;
  border-bottom: 5px solid white;
  
}

.service-title{
  font-size: 40.4px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.325) 0px 1.51499px 6.4387px;
  line-height: 56px;

  font-size: clamp(1rem, 5vw, 3rem); /* min, preferred, max size */
  white-space: nowrap;

  
}


#welcome {
  background-color: rgb(28, 27, 21);
  display: flex;
  flex-wrap: wrap;      /* Allows wrapping to new line when space is tight */
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */
  column-gap: 75px;
  row-gap: 20px;
  padding: 75px;    /* space inside the section edges */
}

#welcome div {
  max-width: 500px;
}

#welcome-title{
  font-size: 64px;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 216, 225);
  font-kerning: none;
  text-decoration: none;
  line-height: 57px;
  letter-spacing: 0em;
  text-transform: uppercase;
  text-wrap: wrap;
  overflow-wrap: normal;
  text-align: center;
}

#welcome-paragraph{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 216, 225);
  font-kerning: none;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 0em;
  text-wrap: wrap;
  overflow-wrap: normal;
  overflow-wrap: break-word;
}

#church-photo{
  width: 414px;
  max-width: 100%;
  height: 414px;
  border: 2px solid lightblue;
  border-radius: 40px; /* Curved corners */
}








/*                           */
/* What's on section styling */
/*                           */

/* Styling for entire 'What's On' section  */
.whats-on-section{
  justify-content: center;  /* Centers items horizontally */

}

/* Styling for individual activity section */
.activitya{
  background-color: #a3b18a;
  padding-top: 25px;
  padding-bottom: 25px;
}

.activityb{
  background-color: 	#588157;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Styling for <h1> title of activity day */
.activity-day{
  margin: 0px;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
}

/* Styling for <h2> title of activity title */
.activity-name{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.activity-time{
  text-align: center;
  padding-top: -50px;
}

/* Styling for activity's content - txt & img */
.activity-content{
  display:flex;
  justify-content: center;  /* Centers items horizontally */
  align-items: center;      /* Centers items vertically if needed */
  flex-wrap: wrap;      /* Allows wrapping to new line when space is tight */
  gap: 40px;
}

/* Styling for text only in activity's content */
.activity-content p{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  font-kerning: none;
  text-decoration: none;
  line-height: 33px;
  letter-spacing: 0em;
  text-wrap: wrap;
  overflow-wrap: normal;
  overflow-wrap: break-word;

  max-width: 400px;
}

#whats-on-title-section{
  background-color: #364c1e;
}

.whats-on-title{
  font-size: 40.4px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.325) 0px 1.51499px 6.4387px;
  line-height: 56px;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 5px solid white;
  border-bottom: 5px solid white;
}





/*                                 */
/* Sunday Services section styling */
/*                                 */

#services-section{
  justify-content: center;  /* Centers items horizontally */
  background-color: #dad7cd;
  padding-top: 25px;
  padding-bottom: 25px;
}

#services-img{
  width: 388px;
  height: auto;
}





/*                                 */
/* About us section header styling */
/*                                 */

#about-us-title-section{
  background-color: #364c1e;
}

.about-us-title{
  font-size: 40.4px;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  font-kerning: none;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.325) 0px 1.51499px 6.4387px;
  line-height: 56px;
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-top: 5px solid white;
  border-bottom: 5px solid white;
}





/*                            */
/* Leadership section styling */
/* TODO: (1) fix image quality, (2) fix img border */

/* Overarching leadership section */
#leadership-section{

}

/* Container for pastor section */
.pastor-section{
  background-color: rgb(187, 175, 153);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centers items horizontally */
  column-gap: 90px;
  row-gap: 50px;
  padding-top: 20px;
}

/* Container for elders section */
.elders-section{
  background-color: rgb(209, 200, 182);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centers items horizontally */
  column-gap: 90px;
  row-gap: 50px;
  padding-top: 75px;
}

/* Styling for container of leader name, role, and bio*/
.leader-content{
  max-width: 400px;
}

/* Styling for <h1> 'Leadership' header */
#leadership-section-header{
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 44, 39);
  text-decoration: none;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(187, 175, 153);
  margin: 0px;
}

/* Styling for <h2> title of leadership name */
.leader-name{
  margin-top: 0px;
}

/* Styling for <h3> title of leadership role */
.leader-role{
  font-size: 26.6667px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 28px;
  letter-spacing: 0em;
  color: rgb(50, 44, 39);
}

/* Styling for <p> containing leader bio */
.leader-bio{
  font-size: 18.86667px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 28px;
  letter-spacing: 0em;
  color: rgb(50, 44, 39);
}

/* Styling for leader images */
.leader-photo{
  width: clamp(250px, 50vw, 369px);
  height: auto;
  object-fit: contain;
  max-width: 369px;
  max-height: 397px;
  
}





/*                         */
/* Beliefs section styling */
/*                         */

#beliefs-section{
  background-color: #d88c9a;
}

#beliefs-header{
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 44, 39);
  text-decoration: none;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0px;
}

#beliefs-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  /* Centers items horizontally */
  column-gap: 90px;
  row-gap: 50px;
  padding-top: 20px;
}

#beliefs-paragraph{
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 28px;
  letter-spacing: 0em;
  color: rgb(50, 44, 39);
  max-width: 400px;
}





/*                              */
/* Partnerships section styling */
/*                              */

#partnerships-section{
  background-color: lightgrey;
  justify-content: center;
  
}

#partnerships-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding-top: 50px;

}

#partnerships-header{
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  color: rgb(50, 44, 39);
  text-decoration: none;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0px;
}

.partner{
  text-align: center;
  max-width: 200px;
}

.partner-header{
  font-weight: normal;
  font-size: 22px;
  border-bottom: 1px solid black;
  padding-bottom: 12px;
}

.partner-content{
  
}





/*                              */
/* Missionaries section styling */
/*                              */